<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compairator</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Bienvenue sur Compairator, l'application qui compare les IAs</h1>
<section class="container">

    <form th:action="@{/compare}" method="post">
        <textarea name="prompt" placeholder="Écris ton prompt ici"></textarea>
        <button type="submit">Comparer</button>
    </form>
    <div th:if="${prompt}">
        <h2>Prompt envoyé :</h2>
        <p th:text="${prompt}"></p>
        <div class="left-half">
            <h2>Groq</h2>
            <p th:text="${groqAnswer}">
            </p>
        </div>
        <div class="right-half">
            <h2>Mistral</h2>
            <p th:text="${mistralAnswer}">
            </p>
        </div>
    </div>
</section>
</body>
</html>